<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>INDEX</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header><h1>HEADER</h1></header>

    <nav><h2>NAVIGATION BAR</h2></nav>

    <main>
      <aside>
        <h3>This id Aside</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel error
          accusantium nulla voluptates laboriosam itaque totam nemo quia
          provident quibusdam possimus eligendi ipsam quaerat explicabo vitae,
          reprehenderit vero? Autem natus eius quae fugit ut recusandae placeat
          officia voluptatibus commodi molestiae modi ipsa nihil, et corporis.
          Quisquam laboriosam fuga vel aut?
        </p>
      </aside>

      <section>
        <h3>This id Section</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel error
          accusantium nulla voluptates laboriosam itaque totam nemo quia
          provident quibusdam possimus eligendi ipsam quaerat explicabo vitae,
          reprehenderit vero? Autem natus eius quae fugit ut recusandae placeat
          officia voluptatibus commodi molestiae modi ipsa nihil, et corporis.
          Quisquam laboriosam Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Nemo, ab perspiciatis! Possimus numquam fugiat et
          aspernatur architecto eligendi labore esse velit ad saepe. Optio,
          illum facere nam voluptatibus ipsum autem dolor recusandae inventore
          possimus, quasi nostrum saepe, soluta non eligendi laborum voluptatem
          iusto. Corrupti asperiores voluptate, iste, consequuntur similique
          provident saepe tempora impedit laudantium magni sunt quaerat eum quis
          porro. fuga vel aut?
        </p>
      </section>

      <article>
        <h3>This id Article</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel error
          accusantium nulla voluptates laboriosam itaque totam nemo quia
          provident Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Vitae dolorum quos architecto veniam quisquam itaque, alias voluptate
          explicabo laborum! Dolorem sequi beatae iste quam, tempora incidunt
          libero ipsa dolores laborum ipsum assumenda alias ad ab fuga eos
          error, vitae voluptates, tenetur maiores aquibusdam possimus eligendi
          ipsam quaerat explicabo vitae, reprehenderit vero? Autem natus eius
          quae fugit ut recusandae placeat officia voluptatibus commodi
          molestiae modi ipsa nihil, et corporis. Quisquam laboriosam fuga vel
          aut?
        </p>
      </article>
    </main>

    <footer><h2>FOOTER</h2></footer>
  </body>
</html>
